{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'registration.title' | trans }}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos-user fos_user_registration_register'}}) }}
	{{ form_widget(form) }}

	<input type="submit" class="btn btn-default" value="{{ 'registration.submit'|trans }}" />
{{ form_end(form) }}
{% endblock fos_user_content %}
