@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/flatly-theme/variables";

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
}

header {
	margin-bottom: 2em;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: $gray-lighter;

	.text-muted {
		margin: 20px 0 19px 0;
	}
}
.page-header {
	margin-top: 0;
}

// Icons
i {
	margin-right: .25em;
}

// Confirmation Modal Window
#confirmationModal {
	.modal-dialog {
		width: 500px;
	}

	.modal-footer {
		button {
			min-width: 75px;
		}
	}
}

@media (min-width: $screen-sm-min) {
	.fos-user {
		width: 60%;
	}
}
