{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos-user fos_user_resetting_request">
{% if invalid_username is defined %}
	<div class="alert alert-danger">
		{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
	</div>
{% endif %}

	<div class="form-group">
		<label for="username">{{ 'resetting.request.username'|trans }}</label>
		<input type="text" class="form-control" id="username" name="username" required="required" />
	</div>

	<input type="submit" class="btn btn-default" value="{{ 'resetting.request.submit'|trans }}" />
</form>
{% endblock fos_user_content %}
